div{
	outline: red solid 1px;
}

.header{
	color: white;
}
.header a:hover{
	color:#f4f4f4;
}

.jumbotron{
	background-repeat: no-repeat;
	background: url(../img/background/hero.jpg);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.bnt{
	padding-top: 100px;
}
.encabezado p{
	display: inline-block;
}
.ini{
	height: 300px;
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
}
.icon, .icon2{
	margin-top: 100px;
}
.icon{
	margin-top: 50px;
}
.more{
	background-color: #f4f4f4;
	padding: 50px 0 50px 0;
	margin: 80px 0 50px 0;
}
.more img, {
	max-width: 80%;
}
.media{
	margin-top: 60px;
}
.ico{
	height: 25px;
}
.por{
	margin-top: 100px;
	background: #E8EDEF;
}
.grey{
	background: #E8EDEF;

}
.img{
	margin-top: 20px;
	background: white !important;

}
.img img{
	margin-top: 10px;
}
.img p{
	margin: 0 auto;
}
.grey .btn-primary{
	color: white;
	background: grey !important;
	border-color: grey ! important;
	margin:60px 0 30px 0;
	border-radius: none !important;
}

.center{
	margin: 0 200px 0 200px;
}
.call{
    background: url(../img/background/city.jpg)center top;
   -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
   
    color: white;
    background-repeat: no-repeat;
}
.acti{
	margin: 0 auto;
	padding: 100px 100px 100px 100px;
}
.pri{
	padding:25px 0 25px 0;
}
.one,.three{
	background: #222222;
	color: white;
}
.one h4, .two h4, .three h4{font-size: 25px;}
.two{
	background: #009ca8;
	color: white;
}
.gran{
	font-size: 30px;
}
.ce{background-color: #e8edef; padding: 40px 0 40px 0;}
#price{
	margin-top: 30px;
}
#price ul li{
	text-align: center;
 list-style: none;
 padding: 20px 0 20px 0;
 border-bottom: 1px solid grey;
}
#price ul li:first-child{
	padding-top: 30px;
}
#price button{
	background: #222222;
	color: grey;
	border:none;
	padding: 8px 20px;
}
.testimonio img{
	height: 80px;
	width: 80px;
}
#contacto{
	background: url(../img/background/contactus.jpg);
	-moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	color: white;
	background-repeat: no-repeat;

}
