div{
	outline: red solid 1px;
}
.row{
	margin: 0;
}
.header{
	color: white;
}
.header a:hover{
	color:#f4f4f4;
}


.container{
	padding: 0;
}
.jumbotron{
	background-repeat: no-repeat;
	background: url(../img/background/hero.jpg);
    background-size: auto;
    opacity: 25;
}
.encabezado p{
	display: inline-block;
}

.ini{
	height: 300px;
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
}
.icon, .icon2{
	margin-top: 100px;
}
.icon{
	margin-top: 50px;
}
.more{
	background-color: #f4f4f4;
	padding: 50px 0 50px 0;
	margin: 80px 0 50px 0;
}
.more img, {
	max-width: 80%;
}
.media{
	margin-top: 60px;
}
.ico{
	height: 25px;
}
.por{
	margin-top: 100px;
	background: #E8EDEF;
}
.grey{
	background: #E8EDEF;
}
.img{
	margin: 20px;
	background: white !important;
}
.img img{
	margin-top: 10px;
}
.img p{
	margin: 0 auto;
}
.grey .btn-primary{
	color: white;
	background: grey !important;
	border-color: grey ! important;
	margin:60px 0 30px 0;
	border-radius: none !important;
}

.center{
	margin: 0 200px 0 200px;
}
.call{
    background: url(../img/background/city.jpg)center top;
    background-size: cover;
   
    color: white;
    background-repeat: no-repeat;
}
.acti{
	margin: 0 auto;
	padding: 100px 100px 100px 100px;
}
.pri, .ce{
	padding:25px 0 25px 0;
}
.two{
	background: #009ca8;
}
.ce{background-color: #e8edef;}
#price{
	margin-top: 30px;
}
ul li{

}
.testimonio img{
	height: 80px;
	width: 80px;
}
#contacto{
	background: url(../img/background/contactus.jpg);
	background-size: 80%;
	color: white;
}
